@page
@model WebApplication2.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Check Out What We Have For You!</h2>
<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Create" class="btn btn-info navbar-btn">Create New One</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MinimumPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MaximumPlayers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumPlayers)
            </td>
            <td>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
